.login_form {
	min-height: 450px;
	.ui.grid .computer.only.tablet.only.column.row {
		padding: 0;
		-webkit-box-shadow: 6px 2px 15px -6px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 6px 2px 15px -6px rgba(0, 0, 0, 0.4);
		box-shadow: 6px 2px 15px -6px rgba(0, 0, 0, 0.4);
		border-radius: 40px;
		.column {
			&:first-child {
				background-image: url("../../../assets/images/bg/login_bg.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 87%;
				background-position-x: 0px;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
				padding-right: 0px;
				padding-left: 0;
			}
			&:last-child {
				padding-left: 0px;
				padding-right: 42px;
			}
			min-height: 420px;
			.login_left_box {
				padding: 90px 42px 90px 0px;
				height: 100%;
				img {
					width: 120px;
				}
				.ui.header {
					margin-top: 0px;
				}
			}
			.ui.form {
				padding: 30px 0;
				height: 100%;
				.login_right_box {
					padding: 30px 0;
					height: 100%;
					h1 {
						font-weight: 200;
						color: rgba(0, 0, 0, 0.5);
					}
					.ui.input {
						width: 100%;
						margin: 10px 0;
						input {
							border-top: 0;
							border-left: 0;
							border-right: 0;
							border-radius: 0;
						}
						&.error input {
							background: #fff6f6;
							border-color: #e0b4b4;
							color: #9f3a38;
						}
					}
					.ui.checkbox label::before,
					.ui.checkbox label::after {
						color: #fff;
						background-color: #97e3ff;
						border: 0;
						border-radius: .21428571rem;
					}
					.field button {
						border-radius: 20px;
						width: 50%;
					}
				}
			}
		}
	}
}
