.dashboard {
	display: flex;
	height: 100%;
	.ui.pointing.secondary.vertical.menu {
		height: 100%;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
	}
	.body {
		margin-left: 210px;
		width: 100%;
		.content {
			width: 100%;
		}
	}
}
